/* färgschema */
/*color: #ffc125; /*gul*/
/*color: SeaGreen /*Grön*/
h1 {
  color: SeaGreen;
  font-family: 'PT Serif',serif;
  font-weight: 700;
}
h2 {
  font-family: 'Roboto';
}
p, li {
  font-size: 18px;
}
.jumbotron {
  background-image: url("../images/asaf-r-300803-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
