h1 {
  color: SeaGreen;
  font-family: 'PT Serif',serif;
  font-weight: 700;
}
h2 {
  font-family: 'Roboto';
  margin-top: -20px;
}
p, li {
  font-size: 18px;
  color: #ffc125;
}
.jumbotron {
  background-image: url("../images/asaf-r-300803-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
