/* färgschema */
/*color: #ffc125; /*gul*/
/*color: SeaGreen /*Grön*/
h1 {
  color: SeaGreen;
  font-family: 'PT Serif',serif;
  font-weight: 700;
}
h2, p {
  font-family: 'Roboto';
}
p, li {
  font-size: 18px;
}
.jumbotron {
  background-image: url("../images/asaf-r-300803-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.big-icon {
  font-size: 64px;
  color:#ffc125;
}
main>div:nth-child(odd) {
  background-color:#ffc125;
}
main>div:nth-child(2) {
  background-image: url("../images/ivana-cajina-403437-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.anchor {
  display: block;
  height: 70px;
  margin-top:-70px;
}
